<?xml version="1.0" encoding="utf-8"?>
<configuration>

	<packageSources>
		<add key="Shared.Packages" value="https://gitlab.com/api/v4/groups/58040508/-/packages/nuget/index.json" />

		<add key="Shared.Modules" value="https://gitlab.com/api/v4/groups/61338283/-/packages/nuget/index.json" />
	</packageSources>

	<!-- Only one source per NuGet is allowed. Define the rules to choose. -->
	<packageSourceMapping>
		<packageSource key="nuget.org">
			<package pattern="*" />
		</packageSource>

		<packageSource key="https://nuget.org/api/v2/">
			<package pattern="*" />
		</packageSource>

		<packageSource key="Shared.Packages">
			<package pattern="*" />
		</packageSource>

		<packageSource key="Shared.Modules">
			<package pattern="*" />
		</packageSource>
	</packageSourceMapping>
</configuration>